<h1>Contacts</h1>

<table id="contacts-table" class="table">
  <tr>
    <th>Name</th>
    <!-- <th>Address</th> -->
    <th>Phone</th>
    <th>Email</th>
    <!-- <th>Company</th> -->
    <th width="60px"></th>
  </tr>
</table>

<a href="#/new" class="btn btn-mini btn-success">New Contact</a>