<div id = "contacts">
</div>

<!-- <div id="contact-details" class="popover" style="display:block;width:400px;">
	<div class="popover-inner">
		<h3 class="popover-title">Apoorv Parijat<div class="float-right popover-close">x</div></h3>
		<div class="popover-content">
			<div class="nvp">
				<div class="name">Email</div>
				<div class="value">apoorvparijat@gmail.com</div>
			</div>
			<div class="nvp">
				<div class="name">Phone</div>
				<div class="value">+91-9582033788</div>
			</div>
			<div class="nvp">
				<div class="name">Address</div>
				<div class="value">JIIT Noida</div>
			</div>
			<div class="nvp">
				<div class="name">Company</div>
				<div class="value">n/a</div>
			</div>
		</div>
	</div>
</div> -->

<div id="contact-details" class="popover" style="width:400px;">
	<div class="popover-inner">
		<h3 class="popover-title"><span class="contact-name"></span><div class="float-right popover-close">x</div></h3>
		<div class="popover-content">
			<div class="nvp">
				<div class="name">Email</div>
				<div class="value"><span class="email"></span></div>
			</div>
			<div class="nvp">
				<div class="name">Phone</div>
				<div class="value"><span class="phone"></span></div>
			</div>
			<div class="nvp">
				<div class="name">Address</div>
				<div class="value"><span class="address"></span></div>
			</div>
			<div class="nvp">
				<div class="name">Company</div>
				<div class="value"><span class="company"></span></div>
			</div>
		</div>
	</div>
</div>
<div class="increase-height">
</div>
<script type="text/javascript">
  $(function() {
    
    window.router = new AddressBook.Routers.ContactsRouter({contacts: <%= @contacts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>